<h1> Showing selected articles </h1>

<h4>
    Title: <%= @article.title %>
</h4>

<p>
    Description: <%= @article.description %>
</P>

<%= link_to "Edit this articles", edit_article_path(@article) %> <br />
<%= link_to "Back to index", articles_path %>